@model HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<form method="get">
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label asp-for="CategoryId">Category</label>
                <select asp-for="CategoryId" asp-items="Model.Categories" class="form-control" onchange="this.form.submit()">
                </select>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="BrandId">Brand</label>
                <select asp-for="BrandId" asp-items="Model.Brands" class="form-control" onchange="this.form.submit()">
                </select>
            </div>
        </div>
    </div>
</form>

@if (Model.Products.Count > 0)
{
    @*https://startbootstrap.com/templates/shop-homepage/*@
    <div class="row">

        @foreach (var product in Model.Products)
        {
            <partial name="_ProductPartial" model="product" />
        }

    </div>

    <partial name="_PaginationPartial" model="Model.PaginationInfo" />
}
else
{
    <div class="text-center p-5">
        No products were found matching your selection.
    </div>
}


