@model ProductViewModel

<div class="col-lg-4 col-md-6 mb-4">
    <div class="card h-100">
        <a href="#"><img class="card-img-top" src="~/images/products/@Model.PhotoPath" alt=""></a>
        <div class="card-body">
            <h4 class="card-title">
                <a href="#">@Model.ProductName</a>
            </h4>
            <h5>₺@Model.UnitPrice.ToString("N2")</h5>
            <p class="card-text">@Model.Description</p>
            <form asp-controller="Basket" asp-action="Index">
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="ProductName" />
                <input type="hidden" asp-for="Description" />
                <input type="hidden" asp-for="UnitPrice" />
                <input type="hidden" asp-for="PhotoPath" />
                <button type="submit" class="btn btn-success btn-block">
                    <i class="fas fa-cart-plus"></i>
                    SEPETE EKLE
                </button>
            </form>
        </div>
    </div>
</div>